:root {
    --white-color: #ffffff;
    --shadow-container-color: #00000029;
    --black-color:#000000;
    --text-blue-color: #08A6E4;
    --text-light-grey-color:#A5A5A5;
    --shadow-blue-color:#07ACE629;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --footer-background: #F7F7F7;
    --border-container-color: #E8E9ED;
    --blue-color: #07ACE6;
    --shadow-pricing-color: #F9043629;
    --text-pricing-color: #13253B;
    --red-buttons: #EB476E;
    --shadow-buttons: #FF091129;
    --input-color: #95989A;
    --text-chechbox-color: #707070;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}
  
a {
    text-decoration: none;
}
  
.container {
    width: 1352px;
    margin: 0 auto;
}

header {
    height: 70px;
    background-color: var(--white-color);
    box-shadow: 0px 3px 6px #00000029;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-blue-color);
}
  

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
}

.nav__link {
    color: var(--text-light-grey-color);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: var(--black-color);
    border-color: var(--text-blue-color);
}

.nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

.opening__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__container {
    margin-top: 130px;
    text-align: center;
}

.opening__header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    color: var(--black-color);
}

.opening__description {
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening__background-image {
    width: 100%;
    height: auto;
}

.btn {
    color: var(--white-color);
    font-weight: bold;
    display: inline-block;
    border: none;
}

.btn__large {
    padding: 22px 157px;
    background-color: var(--text-blue-color);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

.statistics__section {
    margin-top: 100px;
}

.statistics__container {
    width: 100%;
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics__header {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
    color: var(--black-color);
}

.statistics__box {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: yellow;
    position: relative;
}

.statistics__img {
    position: absolute;
}

.statistics__box:nth-child(1) .statistics__circle {
    background-color: var(--red-color);
}

.statistics__box:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}

.statistics__box:nth-child(2) .statistics__circle {
    background-color: var(--blue-color);
}

.statistics__box:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}

.statistics__box:nth-child(3) .statistics__circle {
    background-color: var(--green-color);
}

.statistics__box:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}

.statistics__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}
  
.statistics__description {
    color: var(--text-light-grey-color);
    margin-top: 19px;
}