:root {
    --white-color: #ffffff;
    --shadow-container-color: #00000029;
    --text-color:#000000;
    --text-blue-color: #08A6E4;
    --text-light-grey-color:#A5A5A5;
    --shadow-blue-color:#07ACE629;
    --red-color: #FB3B64;
    --green-color: #55DFB4;
    --footer-background: #F7F7F7;
    --border-container-color: #E8E9ED;
    --blue-color: #07ACE6;
    --shadow-pricing-color: #F9043629;
    --text-pricing-color: #13253B;
    --red-buttons: #EB476E;
    --shadow-buttons: #FF091129;
    --input-color: #95989A;
    --text-chechbox-color: #707070;
}

* {
    box-sizing: border-box;
}

