.calc {
    padding: 80px 0;
    background-color: $footer-background;
  
    @include tablet {
      padding: 30px 15px;
    }
  
    h2 {
      text-align: center;
    }
  
    &__columns {
      max-width: 865px;
      margin: 50px auto 0;
      display: flex;
  
      @include tablet {
        display: block;
      }
    }
  
    &__form {
      width: 50%;
      margin-right: 20px;
  
      @include tablet {
        width: 100%;
        margin-right: 0;
      }
    }
  
  
    &__input input,
    &__select .select__input {
      color: $text-light-grey-color;
      width: 100%;
      border-radius: 6px;
      border: 1px solid $text-blue-color;
      padding: 11px 20px;
      line-height: 1em;
      font-size: 0.8125rem;
      box-shadow: 0px 3px 6px $shadow-blue-color;
      margin-bottom: 20px;
      background-color: $white-color;
    }
  
    &__input {
      input {
        &::placeholder {
          color: $text-light-grey-color;
        }
      }
    }
  
    &__select {
      position: relative;
  
      .select__input {
        position: relative;
        height: 40px;
        vertical-align: middle;
        padding: 13px 20px;
        cursor: pointer;
  
        &::after {
          content: "";
          background-image: url("/assets/Arrow\ Down.svg");
          width: 22px;
          height: 22px;
          display: block;
          position: absolute;
          right: 14px;
          top: 9px;
        }
      }
  
      .select__dropdown {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: white;
        width: 100%;
        border-radius: 6px;
        border: 1px solid $red-buttons;
        overflow: hidden;
        animation: dropdownAnimation 0.4s linear;
  
        li {
          font-size: 13px;
          padding: 10px 20px;
          cursor: pointer;
          animation: liAnimation 0.4s linear;
  
          &:hover {
            background-color: $text-light-grey-color;
          }
        }
      }
  
  
      &.open {
        .select__input::after {
          transform: rotate(180deg);
        }
  
        .select__dropdown {
          display: block;
        }
      }
    }
  
    .form__checkbox {
      .consent__text {
        padding-top: 4px;
      }
    }
  
    &__summary {
      width: 50%;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
  
      @include tablet {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }
  
      .summary__total,
      .list__item {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
        border-radius: 6px;
        justify-content: space-between;
        align-items: center;
        color: $white-color;
        font-size: 0.875rem;
        display: none;
  
        &.open {
          display: flex;
        }
      }
  
      .summary__total {
        width: 50%;
        align-self: flex-end;
        margin-top: 22px;
        padding: 8px 20px;
        background-color: $text-blue-color;
  
        .total__price {
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
  
      .list__item {
        padding: 6px 20px;
        background-color: $green-color;
        margin-bottom: 8px;
  
        .item {
          &__price {
            font-weight: 700;
            font-size: 1.125rem;
          }
        }
      }
    }
  }


  

  @keyframes liAnimation{
    0% {
      transform: translateY(-25px);
      height: 10%;
      opacity: 0.2;
    }

    50% {
      height: 50%;
      opacity: 0.6;
    }
    100% {
      transform: translateY(0);
      height: 100%;
      opacity: 1;
    }
  }

  @keyframes dropdownAnimation {
    0% {
      height: 10%;
    }

    50% {
      height: 50%;
    }

    100% {
      height: 200%;
    }
  }
  