@import '../settings/variables';
@import '../settings/mixins';

/* contact section */

.contact {
    padding: 80px 200px 100px;
    display: flex;

    &__column {
        width: 50%;
    }

    &__header {
        font-size: 3.0625rem;
        line-height: 3.6875rem;
        font-family: $font-raleway;
        color: $black-color;
    }

    &__description {
        margin: 22px 0 42px;
        font-size: 1rem;
        line-height: 1.375rem;
    }

    &__details {
        display: flex;
        justify-content: flex-start;
        color: $text-light-grey-color;

        &__link {
            color: $text-light-grey-color;
            font-weight: 500;

            &:first-of-type {
                margin-right: 20px;
            }

            img {
                margin-right: 10px;
            }
        }
    }
}